.p1 {
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    position: fixed;
}

.p3 {
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    position: fixed;
    right: 0;
}

.p2{
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    position: fixed;
    right: 0;
    bottom: 0;
}
.p4 {
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    position: fixed;
    bottom: 0;
}

.squareC {
    position: relative;
    top: 160px;
    margin: auto;
    width: 700px;
    height: 700px;
    border: 5px solid black;
    background-color: transparent;
}

.mini {
    /*display: flex;
    position: relative;*/
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid white;
}